/* UX Styling */

.ux-filter{
    background-color: rgba(0, 0, 0, 0.433);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ux-align{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.ux-container{
    background-image: url("../../images/glenn-carstens-unsplash.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover; 
    height: 100vh;
}

.ux-container .ux-text{
    color:white;
    text-shadow: 2px 2px 5px black;
    font-size: 40px;
    font-weight: bold;
    margin: 50px 0px 50px 0px;
    text-align: center;
}

.ux-container p{
    color:white;
    text-shadow: 2px 2px 5px black;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
}

.top-ux-inst{
    position: relative;
    bottom:25vh
}

.bottom-ux-inst{
    position: relative;
    top:25vh
}

@media only screen and (max-width: 1032px){
    .top-ux-inst{
        position: relative;
        bottom:0;
        width: 100%;
    }
    
    .bottom-ux-inst{
        position: relative;
        top:0;
        width: 100%;
    }
}

/* Scroll Icon */
.center-end-arrow{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 100%;
}
.arrow-ux{
    position: relative;
    bottom: 25px;
    transform: translate(-50%,-50%);
}
.arrow-ux span{
    display: block;
    width: 25px;
    height: 25px;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    transform: rotate(45deg);
    margin: -15px;
    animation: animateUX 2.8s infinite;
}
.arrow-ux span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow-ux span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animateUX {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-5px,-5px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(5px,5px);
    }
}