.sug-card-container{
   max-height: 300px;
   width: 300px;
   text-align: start;
   overflow: scroll;
}

.ant-card-head-title{
   font-weight: bolder;
   color: white;
}

.vote-btn{
   background: #6eb0b4;
   color: white;
   border-color: white;
}

.vote-btn:hover{
   background: white;
   color: #6c8e98 ;
}

.vote-btn:active{
   background: white;
   color: #6c8e98 ;
}

.vote-btn:focus{
   background: white;
   color: #6c8e98 ;
   border-color: #6c8e98;
}

.description-text{
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   margin-bottom: 10px;
}

/* Modal CSS */
.mod-div{
   position: absolute;
   top: 0;
   border-radius: 10px;
   width: 100vw;
   height: 100vh;
   z-index:2;
   background-color: rgba(0, 0, 0, 0.445);
}

.dashmod-container{
   position: relative;
   top: 10%;
   left: 45%;
   background-color: #e2dfdb;
   border: darkgray outset;
   border-radius: 10px;
   margin-left: 0%;
   width: 90%;
   height: 80%;
   overflow: scroll;
}

.exit{
   position: absolute;
   top:0;
   right:0;
   font-size: xx-large;
   background: transparent;
   border: transparent;
   color: #945440;
   margin-top: -5px;
   margin-right: 6px;
   z-index:2;
}

.modsug-card-container{
   max-height: 50%;
   max-width: 80%;
   overflow: scroll;
}

.mod-elements{
   text-align: center;
}
.mod-elements h3{
   margin-top: 20px;
   margin-bottom: 20px;
   font-weight: bolder;
   color: #3b5e66;
}

.comments-container{
   width: 100%;
   height: 200px;
   background-color: #6eb1b41c;
   border: 2px inset white;
   border-radius: 5px;
   overflow: auto;
   margin-bottom: 10px;
}

.comments-container p{
   margin: 0px;
}

.sug-modal-submit{
   background-color: #6eb0b4;
   border: 1px solid #3b5e66;
}

.sug-modal-submit:hover{
   background-color: #3b5e66;
   border: 1px solid #6eb0b4;
   color: white;
}  

.sug-modal-submit:focus, .sug-modal-submit:active{
   background-color: white;
   border: 1px solid #3b5e66; 
   color: #6eb0b4 !important;
}