.dash-background{
    background-image: url("../../images/charlotte-noelle-unsplash.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover; 
    height: 100vh;
    overflow: scroll;
}
.dash-filter-background{
    background-color: rgba(0, 0, 0, 0.472);
    height: 100vh;
    overflow: scroll;
}