.site-card-wrapper  {
    padding-top: 20%;
}

.ant-card-head {
    display: flex;
    justify-content: center;
    /* background-color:rgb(152, 123, 85); */
    background-color: #6c8e98;
}

.ant-card {
    margin: 10px;
}

.ant-card-head-title{
    color: white;
}

.card-column{
    background-color: rgba(255, 255, 255, 0.287);
    padding: 10px;
    border-radius: 5px;
}

.card-content {
    display: flex;
    justify-content: left;
}

.user-info {
    font-size: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .site-card-wrapper  {
        padding-top: 30%;
    }
}

@media only screen and (max-width: 800px) {
    .user-info {
        font-size: 20px;
    }
}
@media only screen and (max-width: 650px) {
    .user-info {
        font-size: 15px;
    }
}
@media only screen and (max-width: 500px) {
    .user-info {
        font-size: 12px;
    }
}