.mod-div{
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.493);
    width: 100vw;
    height: 100vh
}

.dashmod-container{
    position: absolute;
    top: 30%;
    left: 50%;
    background-color: white;
    border: darkgray solid;
    border-radius: 10px;
    margin-left: -35vw;
    width: 70vw;
    height: 60vh
}

.exit{
    position: absolute;
    top:0;
    right:0;
    font-size: xx-large;
    background: transparent;
    border: transparent;
    color: #945440;
    margin-top: -5px;
    margin-right: 6px;
}
