/* Video Container */
.vid-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

video.vid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translate(-50%, -50%);
}
  
/* Darkening Filter/Content Container Div */
.filter-div {
/* position: absolute;
top: 0;
height: 100vh; */
display: flex;
justify-content: center;
align-items: center;
padding: 0;
color:#f1f1f1;
background-color: rgba(0, 0, 0, 0.31);

position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
transform: translate(-50%, -50%);
}

/* Adjusting Vid & Content Container Divs for Large Screens & Phone Landscape Mode */
/* @media screen and (min-width: 1875px) {
    .vid-container {
        width: 100vw;
    }
    .vid {
        width: 100vw;
    }
    .filter-div {
        width: 100vw;
    }
}
@media screen and (width: 812px) and (height: 375px) {
    .vid-container {
        width: 100vw;
    }
    .vid {
        width: 100vw;
    }
    .filter-div {
        width: 100vw;
    }
} */

/* Content Over Vid Divs */
.content {
    padding: 10px;
}
.content .header-container{
    position: absolute;
}
.content .our-world {
    position: relative;
    right: 183px;
    top:10px;
    margin:0px
}
.content .your-plan {
    position: relative;
    left:180px;
    top:60px;
    margin:0px
}
.content img {
    width:100%;
    display: block;
    margin: 15px auto;
}


/* Adjusting Text For Various Screen Sizes */
@media screen and (max-width: 767px) {
    .content .our-world {
        right: 170px;
        top:10px;
    }
    .content .your-plan {
        left:180px;
        top:100px;
    }
}
@media screen and (max-width: 560px) {
    .content .our-world {
        right: 135px;
        top:25px;
    }
    .content .your-plan {
        left:130px;
        top:80px;
    }
}
@media screen and (max-width: 425px) {
    .content .our-world {
        right: 100px;
        top:25px;
    }
    .content .your-plan {
        left:95px;
        top:60px;
    }
}
@media screen and (min-width: 1170px) {
    .content .our-world {
        right: 300px;
        top:0px;
    }
    .content .your-plan {
        left:300px;
        top:70px;
    }
}
@media screen and (min-width: 1950px) {
    .content .our-world {
        right: 400px;
        top:0px;
    }
    .content .your-plan {
        left:390px;
        top:70px;
    }
}

/* Scroll Icon */
.center-end-arrow-lc{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 100%;
}
.arrow-lc{
    position: relative;
    bottom: 25px;
    transform: translate(-50%,-50%);
}
.arrow-lc span{
    display: block;
    width: 25px;
    height: 25px;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    transform: rotate(45deg);
    margin: -15px;
    animation: animateUX 2.8s infinite;
}
.arrow-lc span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow-lc span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animateUX {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-5px,-5px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(5px,5px);
    }
}