.sug-title{
    color:white;
    text-shadow: 2px 2px 5px #000000;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.suggestion-form{
    width: 90vw;
    max-width: 700px;
    background-color:#00000067;
    border-radius: 5px;
    padding: 30px;
}